<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Montserrat-Black" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/7e81a4b5a2.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>Browse Cars - EzWheels</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if not session %}
    <a class="navbar-brand" href="/home">EzWheels</a>
    {% else %}
    <a class="navbar-brand" href="#">EzWheels</a>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsupported" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsupported">
          <ul class="navbar-nav mr-auto">
            {% if session %}
            <li class="nav-item active">
                  <a class="nav-link" href="/my_listings">My Listings<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="/cars">Browse Cars <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                  <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
            {% if not session %}
            <li class="nav-item active">
                  <a class="nav-link" href="/sign_in">Sign In <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
            </ul>
        </div>
  </nav>
    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-primary">Catalog Page</h2>
                    <p>Come find the car of your dreams here!</p>
                </div>
                <br>
                            <div class="car-row">
                                {% if cars_list != [] %}
                                    {% for car in cars_list%}
                                    <div class="car-box">
                                            <div>
                                            <center><img src="{{car['picture']}}" alt="car image" class="list-image"></center>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="feature-box col-lg-6.5">
                                                    <center>
                                                <h6>{{car['year']}} {{car['make']}} {{car['model']}}</h6>
                                                <p> Color: {{car['color']}}</p>
                                                <p>Price: ${{car['price']}}</p>
                                            </center>
                                                </div>
                                                <div class = "vertical"></div>                                                
                                                <div class="feature-box col-lg-3.5">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Contact Info </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item">{{car['email']}}</a>
                                                        <a class="dropdown-item">{{car['phone']}}</a>
                                                    </div>
                                                    {% if car['verified'] == True %}
                                                    <h6><img class="tick" src= "../static/images/bluetick.png">Verified </h6>
                                                    {% endif %}
                                            </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="listing-message">
                                        <p>Sorry no current listings on EzWheels. Come back later!</p>        
                                    </div>
                                {% endif %}
                                    
                            </div>
        </section>
    </main>
<br>
<br>    
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="/about">About</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="/cars">Browse Cars</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© EzWheels 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>