<!DOCTYPE html> 
<html>
    <head>
        <title>Sign Up</title>
        <meta charset="utf8">
    </head>
    <body>
        <form method="POST" action="/sign_up">
            <label for="firstname">Firstname</label>
            <br>
            <input type="text" name="firstname">
            <br>
            <label for="lastname">Lastname</label>
            <br>
            <input type="text" name="lastname">
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email">
            <br>
            <label for="phone">Phone Number</label>
            <br>
            <input type="text" name="phone">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Sign Up">
            <br>
        </form>
    </body>
</html>