<!DOCTYPE html> 
<html>
    <head>
        <title>Sign In</title>
        <meta charset="utf8">
    </head>
    <body>
        <form method="POST" action="/sign_in">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Sign In">
            <br>
        </form>
    </body>
</html>